# Environments
venv/
__pycache__/

# VSCode
.vscode/

# Tests
tests/

# Django
manage.py
db.sqlite3
web/settings.py

# Telethon sessions
*.session
*.session-journal

# Downloaded files
files/

# Configs
bridge.yaml
filter.yaml
